
body{
    margin: 0;
 padding: 0;
    height: 1100px;
    background-color: bisque;
}
.header{
    /* background-color:white; */
    background-color: bisque;
    height: 100px;
    text-align: center;
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
    position: absolute;
    top: 29px;
    left: 840px;
    font-size: 40px;
}
.container2{
    height: 400px;
    width: 100%;
    background-color: blue;
}
.container3{
    /* background-color: blueviolet; */
    height: 500px;
    /* margin: 0; */
}
h2{
    margin: 0;
    /* margin-left: 50px; */
    margin-left: 906px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
}
form{
    position: absolute;
    left: 822px;
    top: 585px;
}
input[type=text] {
    height: 40px;
    width: 230px;
    margin: 10px;
}
input[type=email] {
    height: 40px;
    width: 230px;
    margin: 10px;
}
input[type=password] {
    height: 40px;
    width: 230px;
    margin: 10px;
}
input[type=radio] {
    margin: 20px;
}
div2{
    font-size: 20px;
}
::-webkit-input-placeholder{
    font-size: 20px;
    text-align: center;

}